/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/semantic/build/packaged/css/semantic.css";

/*-- Application stylesheets. -----------------------------------------------*/

.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}